stepfunctions_lambda_dynamodb/state.json
{
  "StartAt": "Validate-All",
  "States": {
    "Validate-All": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.transactions",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Validate",
        "States": {
          "Validate": {
            "Type": "Task",
            "Resource": "Replace with your ValidatorFunction ARN",
            "Next": "ProcessTransaction"
          },
          "ProcessTransaction": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.Type",
                "StringEquals": "PURCHASE",
                "Next": "ProcessPurchase"
              },
              {
                "Variable": "$.Type",
                "StringEquals": "REFUND",
                "Next": "ProcessRefund"
              }
            ],
            "Default": "ProcessError"
          },
          "ProcessRefund": {
            "Type": "Task",
            "Resource": "Replace with your RefundFunction ARN",
            "Next": "DynamoTableSelection"
          },
          "ProcessPurchase": {
            "Type": "Task",
            "Resource": "Replace with your PurchaseFunction ARN",
            "Next": "DynamoTableSelection"
          },
          "ProcessError": {
            "Type": "Task",
            "Resource": "Replace with your ErrordFunction ARN",
            "Next": "DynamoTableSelection"
          },
          "DynamoTableSelection": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.Type",
                "StringEquals": "PURCHASE",
                "Next": "InsertPurchase"
              },
              {
                "Variable": "$.Type",
                "StringEquals": "REFUND",
                "Next": "InsertRefund"
              }
            ],
            "Default": "InsertError"
          },
          "InsertPurchase": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "PurchaseTable",
              "Item": {
                "TransactionId": {
                  "S.$": "$.TransactionId"
                },
                "Type": {
                  "S.$": "$.Type"
                },
                "Timestamp": {
                  "S.$": "$.Timestamp"
                },
                "Message": {
                  "S.$": "$.Message"
                }
                
              }
            },
            "End": true
          },
          "InsertRefund": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "RefundTable",
              "Item": {
                "TransactionId": {
                  "S.$": "$.TransactionId"
                },
                "Type": {
                  "S.$": "$.Type"
                },
                "Timestamp": {
                  "S.$": "$.Timestamp"
                },
                "Message": {
                  "S.$": "$.Message"
                }
              }
            },
            "End": true
          },
          "InsertError": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "ErrorTable",
              "Item": {
                "TransactionId": {
                  "S.$": "$.TransactionId"
                },
                "Type": {
                  "S.$": "$.Type"
                },
                "Timestamp": {
                  "S.$": "$.Timestamp"
                },
                "Message": {
                  "S.$": "$.Message"
                }
                
              }
            },
            "End": true
          }
        }
      },
      "ResultPath": "$",
      "End": true
    }
  }
}